body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  #texto1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    height: 150px;
    float: none;
    background-color: bisque;
    border: 5px black;
    border-radius: 10px;
    margin: 10px;
  }
  #texto2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    height: 150px;
    float: none;
    background-color: bisque;
    border: 5px black;
    border-radius: 10px;
    margin: 10px;
  }
  #texto3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    height: 150px;
    float: none;
    background-color: bisque;
    border: 5px black;
    border-radius: 10px;
    margin: 10px;
  }

  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
    float: left;
    margin-top: 300px;
  }

  .block {
    width: 80px;
    height: 80px;
    background-color: firebrick;
    margin-left: 10px;
    transition: transform 5s ease-in-out;
    float: left;
  }

  #block1.move {
    transform: translateX(-1750%);
  }

  #block2.move {
    transform: translateX(-1790%);
  }

  #block3.move {
    transform: translateX(-1810%);
  }
  #block4 {
    width: 200px;
    height: 430px;
    background-color: darkgray;
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    margin-top: 200px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2ecc71;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    float: left;
  }
  .contb {
    width: 200px;
    height: 200px;
    background-color: darkgray;
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    margin-top: 300px;
    align-items: center;
    display: flex;
  }
  h2 {
    text-align: center;
    float: left;
  }